.site {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"title title title title"
		"pacepanelDistance paceinputDistance output output"
		"pacepanelTime paceinputTime output output"
		"pacepanelTimeperkm paceinputTimeperkm output output"
		"pacepanelSpeed paceinputSpeed output output"
		"footer footer footer footer";
}

.title {
	grid-area: title;
	text-align: center;
}

.output {
	grid-area: output;
	text-align: center;
}
.pacepanelDistance {
	grid-area: pacepanelDistance;
	font-size: 30;
}

.pacepanelTime {
	grid-area: pacepanelTime;
	font-size: 30;
}

.pacepanelTimeperkm {
	grid-area: pacepanelTimeperkm;
	font-size: 30;
}

.pacepanelSpeed {
	grid-area: pacepanelSpeed;
	font-size: 30;
}

.paceinputDistance {
	grid-area: paceinputDistance;
	font-size: 30;
	text-align: center;
}

.paceinputTime {
	grid-area: paceinputTime;
	text-align: center;
	font-size: 30;
}

.paceinputTimeperkm {
	grid-area: paceinputTimeperkm;
	text-align: center;
	font-size: 25;
}

.paceinputSpeed {
	grid-area: paceinputSpeed;
	text-align: center;
	font-size: 25;
}

.footer {
	grid-area: footer;			
	text-align: center;
}

.body {

	background-color: lightgreen;
}
